**TUPLE**

   * index ile erişilebilir, ordered yani sıralıdır.
   * Tuple değiştirilemezler (immutable). Oluşturulduktan sonra eleman eklenemez, silinemez.
   * () parantez içerisinde tanımlanır. Elemanlar (,) ile ayrılır.
   * Farklı veri tipleri içerebilir.
   * Duplicate veri olabilir. Aynı eleman birden fazla yer alabilir.

In [1]:
int_tuple = (1, 3, 5)
string_tuple = ("Python", "Kotlin", "JavaScript", "Flutter")
mix_tuple = (1, 6, 4, 1, "Python", True, 13.4)

In [2]:
print(mix_tuple)

(1, 6, 4, 1, 'Python', True, 13.4)

In [3]:
my_tuple = "Müzeyyen", 23, 1999

name, age, salary = my_tuple
print(name, age, salary)

Müzeyyen 23 1999

In [4]:
print("Tuple Uzunluğu:", len(my_tuple))

Tuple Uzunluğu: 3

**Döngü İle Erişim**

In [5]:
for i in my_tuple:
    print(i)

Müzeyyen
23
1999

In [6]:
my_tuple = ("Python", "Kotlin", "JavaScript", "Flutter")

for i in range(len(my_tuple)):
    print(f"{i}. index değeri: {my_tuple[i]}")

0. index değeri: Python
1. index değeri: Kotlin
2. index değeri: JavaScript
3. index değeri: Flutter

In [7]:
print(my_tuple[9])

IndexError: tuple index out of range

In [8]:
my_tuple[-1]

'Flutter'

In [9]:
#slicing

my_tuple[1:3]

('Kotlin', 'JavaScript')

In [10]:
#index

my_tuple.index("Kotlin")

1

In [12]:
#0 - 3 indexleri arası arar

my_tuple.index("Kotlin", 0, 3)

1

In [13]:
if "Kotlin" in my_tuple:
    print("Kotlin Tuple içerisinde ekli")

else:
    print("Kotlin Tuple içerisinde ekli değil")

Kotlin Tuple içerisinde ekli

In [14]:
my_tuple[0] = "Java"

TypeError: 'tuple' object does not support item assignment

In [15]:
my_tuple = (1, 2, 3, 4)
print("Type:", type(my_tuple))
print("Tuple:", my_tuple)

temp_list = list(my_tuple)
print("Convert Type:", type(temp_list))

temp_list.insert(0, 0)
temp_list.append(5)
temp_list.extend([6, 7, 8])

my_tuple = tuple(temp_list)
print("Son Hali:", my_tuple)

Type: <class 'tuple'>
Tuple: (1, 2, 3, 4)
Convert Type: <class 'list'>
Son Hali: (0, 1, 2, 3, 4, 5, 6, 7, 8)

In [18]:
my_tuple = (1, 2, 3, 5, [6, 7, 8], 9)

my_tuple[4][0] = 9

print(my_tuple)

(1, 2, 3, 5, [9, 7, 8], 9)

In [19]:
my_tuple1 = my_tuple
print(my_tuple1)

(1, 2, 3, 5, [9, 7, 8], 9)

In [20]:
my_tuple = (1, 2, 9, 3, 4)
max(my_tuple)

9