**SET**

* index ile erişilemezler.Unordered yani sıralı değillerdir. (Bir sete erişmek istediğinizde sıralama her seferinde farklılaşacaktır.)

* Setler değiştirilemezler, tani immutable. Tuple' dan farkı sete yeni eleman ekleyip çıkarabiliyoruz.

* {} parantez içerisinde tanımlanır. Elemanlar (,) ile ayrılır.

* Farklı tipte veri taşımaya izin verir.

* Aynı değere sahip iki eleman "YER ALAMAZ". Duplicate veri taşımazlar.

In [55]:
int_set = {1, 2, 3, 4}
string_set = {"Müzeyyen", "Nur", "Aysel", "Öykü", "Melisa"}

mix_set = {12, "Başak", 10234.6, True, False}

In [56]:
print(mix_set)

{False, True, 'Başak', 10234.6, 12}

In [57]:
print(type(mix_set))

<class 'set'>

In [58]:
my_set = {1, 3, 8, 1, 2, 8, 0, 9}
print(my_set)

{0, 1, 2, 3, 8, 9}

In [59]:
my_list = [3, 8, 2, "Ece", "Ece", True, 8, False, 9, 10, False, 3, 2]
print(my_list)

my_set = set(my_list)
print(my_set)

[3, 8, 2, 'Ece', 'Ece', True, 8, False, 9, 10, False, 3, 2]
{False, True, 2, 3, 8, 'Ece', 9, 10}

In [61]:
#set içerisinde tuple kullanımı

my_set = {"Ayşe Nur", "Duygu", "Başak", ("Müzeyyen", "İrem", "Nihal")}

print(my_set)

{('Müzeyyen', 'İrem', 'Nihal'), 'Başak', 'Duygu', 'Ayşe Nur'}

In [65]:
#set içerisinde list kullanımı

my_set = {"Ayşe Nur", "Duygu", "Başak", ["Müzeyyen", "İrem", "Nihal"]}

print(my_set)

TypeError: unhashable type: 'list'

**Boş Bir Set Oluşturma**

Boş bir liste ve tuple oluşturmak istediğimizde;

* my_list = []
* my_tuple = {}

setlerde durum farklı

In [1]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [2]:
empty_set = {}
print(type(empty_set))

<class 'dict'>

**ELEMANLARA ERİŞİM**

In [3]:
movies = {"How T Met Your Mother", "The Big Bang Theory", "Breaking Bad", "Friends", "Person of Interest"}

for i in movies:
    print(i)

Friends
How T Met Your Mother
Person of Interest
The Big Bang Theory
Breaking Bad

**SET İÇERİSİNDE ELEMAN KONTROLÜ**

In [4]:
movies = {"How T Met Your Mother", "The Big Bang Theory", "Breaking Bad", "Friends", "Person of Interest"}

if "Harry Potter" in movies: 
    print("Diziler içerisinde mevcut")
else:
    print("Diziler içerisinde mevcut değil")

Diziler içerisinde mevcut değil

In [5]:
print("Dizi Setinin Uzunluğu", len(movies))

Dizi Setinin Uzunluğu 5

**BİR SETE ELEMAN EKLEME**

**add():** Sete yeni bir eleman eklenir

**update():** Sete birden fazla ekleme işlemi yapar.

In [10]:
#add

books = {"Harry Potter", "Serenad", "Müşterinizin Beynindeki Satın Alma Düğmesine Basmak", "Merhaba Dünya"}

books.add("Bu İş Asla Tutmaz")
print(books)

books.add("Harry Potter") #mevcutta var olan bir elemanı eklemez
print(books)

{'Merhaba Dünya', 'Harry Potter', 'Bu İş Asla Tutmaz', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Serenad'}
{'Merhaba Dünya', 'Harry Potter', 'Bu İş Asla Tutmaz', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Serenad'}

In [12]:
#update
books.update(["Körlük", "İnce Memed"])

print(books)

{'Merhaba Dünya', 'Harry Potter', 'Körlük', 'Bu İş Asla Tutmaz', 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'İnce Memed', 'Serenad'}

**BİR SET İÇERİSİNDEN ELEMAN SİLME**

**remove():** Silmek istediğimiz eleman set (küme) içinde yoksa hata verdirir ve kodlar çalışmaz

**discard():** Silmek istediğimiz eleman set (küme) içinde yoksa hata verdirmez yani direkt elemanlara yazdığımız değerleri döndürür ve çalıştırır.

**pop():** Set içerisindeki hangi elemanını silmesini belirtmediğimiz listedeki herhangi bir elemanı siler.

**clear():** Set elemanlarının hepsini siler.

**del set:** Clear gibi listedeki bütün elemanları cleardan tek farkı (set()) şeklinde değer döndürmez boş değer atar.

In [16]:
books = {"Harry Potter", "Serenad", "Müşterinizin Beynindeki Satın Alma Düğmesine Basmak", "Merhaba Dünya" , 'Serenad', 'Bu İş Asla Tutmaz', 'İnce Memed', 'Körlük'}
books.remove("Harry Potter")# listede harry potter yazanları siler
books

{'Bu İş Asla Tutmaz',
 'Körlük',
 'Merhaba Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad',
 'İnce Memed'}

In [17]:
#Set içerisinde olmayan bir değeri silmek istersek hata alırız.
books.remove("Harry Potter")
books

KeyError: 'Harry Potter'

In [18]:
books.discard("Müşterinizin Beynindeki Satın Alma Düğmesine Basmak")
books

{'Bu İş Asla Tutmaz', 'Körlük', 'Merhaba Dünya', 'Serenad', 'İnce Memed'}

In [ ]:
books.discard("Harry Potter")
books

In [21]:
books.pop()
books

{'Bu İş Asla Tutmaz', 'Serenad'}

In [22]:
books.clear()
books

set()

In [23]:
del books
books

#listede silinecek eleman bulamadığı için hata verdi

NameError: name 'books' is not defined

**SET ÜZERİNDE KULLANABİLECEĞİMİZ OPERATÖRLER**

**union()( | ):** İki seti birleştirmek için kullanılır.

**intersection()( & ):** İki küme içerisinde yer alan ortak elemanları döndürür.

**Intersection_Update:** İki setin (kümenin) kesişimini aldıktan sonra ve bu kesişim elamanları günceller.

**difference()( - ):** Bir setin (kümenin) diğer setten (kümeden) farkını alır.

**difference_update:** İki setin (kümenin) farkını aldıktan sonra bu farkla elemanları günceller.

**symmetric_difference()( ^ ):** Belirlenen her iki sette (kümede) de olmayan elemanları gösterir.

In [66]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 | my_set2
my_set3

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

In [67]:
my_set4 = my_set1.union(my_set2)
my_set4

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

In [30]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 & my_set2
my_set3

{'Ezgi', 'Merve'}

In [31]:
my_set4 = my_set1.intersection(my_set2)
my_set4

{'Ezgi', 'Merve'}

In [32]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set1.intersection_update(my_set2)
my_set1

{'Ezgi', 'Merve'}

In [33]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 - my_set2
my_set3

#my_set1 ve my_set2 de ortak olmayan elemanların farkını alıp my_set1 deki elemanları yazar

{'Asena', 'Aysel', 'Emre'}

In [34]:
my_set1.difference(my_set2)

{'Asena', 'Aysel', 'Emre'}

In [35]:
my_set1

{'Asena', 'Aysel', 'Emre', 'Ezgi', 'Merve'}

In [36]:
my_set1.difference_update(my_set2)

In [37]:
my_set1

{'Asena', 'Aysel', 'Emre'}

In [38]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

unique_set = my_set1 ^ my_set2
unique_set

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [39]:
unique_set2 = my_set2.symmetric_difference(my_set1)
unique_set2

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [40]:
my_set1.symmetric_difference_update(my_set2)
my_set1

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

**KOPYALAMA İŞLEMLERİ**

**copy():** Seti kopyalar.

**=:**

**set():**

In [43]:
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set

my_set.add("Vildan")
my_set2

{18, 'Ahmet', 'Sezen', True, 'Vildan'}

In [44]:
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set.copy()

my_set.add("Vidan")
my_set2

{18, 'Ahmet', 'Sezen', True}

In [45]:
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = set(my_set)

my_set.add("Vildan")
my_set2

{18, 'Ahmet', 'Sezen', True}

**issubset(alt küme) and issuperset(üst küme)**

**issubset(alt küme):** Setin (kümenin) başka bir kümenin alt kümesi olup olmadığını kontrol eder.

**issuperset(üst küme):** Setin (kümenin) başka bir kümenin üst kümesi olup olmadığını kontrol eder.

In [46]:
languages = {"Python", "C#", "Java", "Kotlin", "Dart"}
languages2 = {"Kotlin", "Java"}

print(languages.issuperset(languages2))
print(languages.issubset(languages2))

True
False

**isdisjoint():** İki kümenin ayrık kümeler olup olmadığını kontrol eder.

In [47]:
languages = {"Python", "C#", "Java", "Kotlin", "Dart"}
languages2 = {"Flutter"}

print(languages.isdisjoint(languages2))

True

**Frozenset:** Değişmez bir set oluşturmak istenildiğinde kullanılır

In [48]:
frozen_set = frozenset({"Nihan", "Edanur", "Buse", "Sena"})

In [49]:
frozen_set.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

In [51]:
#iki set içerisinde yer alan benzersiz elemanları ekrana basalım

my_set1 = {10, 20, 30, 40, 50}
my_set2 = {40, 50, 60, 80}

print(my_set1.symmetric_difference(my_set2))

{10, 80, 20, 60, 30}

In [53]:
#Bir listenin tüm elemanlarını bir sete ekleme işlemini yapalım

my_list = [1, 2, 9, 3, 4]
my_set = {1, 4, 7, 9, 0}

my_set.update(my_list)
my_set

{0, 1, 2, 3, 4, 7, 9}

In [54]:
#Bir set içerisinde yer alan çift sayıları sil,

my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

my_list = [i for i in my_set if i % 2 == 0] #list comprehension

#my_list = []
#for item in my_set:
#    if item % 2 == 0:
#        my_list.append(item)

for i in my_list:
    my_set.remove(i)

my_set

{1, 3, 5, 7, 9}